@define-color bg #FFFFFF;
@define-color fg #2e2e2e;
@define-color gray1 #78c850;
@define-color gray2 #cccccc;
@define-color gray3 #6890f0;
@define-color gray4 #e83000;
@define-color gray5 #f08030;
@define-color fg_bright #2e2e2e;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}