[Desktop Entry]
Version=1.0
Name=Aseprite
Comment=Animated sprite editor & pixel art tool
Exec=/home/monk/.local/bin/aseprite
Terminal=false
Type=Application
Icon=/home/monk/.local/share/applications/icons/ase64.png
StartupNotify=true
Categories=Graphics;2DGraphics;RasterGraphics;
