[Desktop Entry]
Version=1.0
Name=Fred
Comment=Friendly-Editor
Exec=/home/monk/.local/bin/fred
Terminal=false
Type=Application
Icon=/home/monk/.local/share/applications/icons/fred.svg
StartupNotify=true
Categories=Utility;TextEditor;
