[Desktop Entry]
Version=1.0
Name=GF2
Comment=graphical gdb
Exec=/usr/local/bin/gf2
Terminal=false
Type=Application
Icon=/home/bms/.local/share/applications/icons/gf2.png
StartupNotify=true
Categories=Development;Debugger;
