* {
    font-family: "Press Start 2P", FontAwesome, sans-serif;
    font-size: 10px;
    color: #4e4e4d;
}

window#waybar {
    background-color: #f8f8f8;
    text-shadow: 2px 2px 0 #dbdbd6;
    border-radius: 16px;
    border: 7px solid #706880;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

tooltip {
    background: #faf4f2;
}

#battery.charging {
    background-color: #42d663;
    color: #000000;
}

#battery.warning:not(.charging) {
    background-color: #fff729;
    color: #000000;
}

#battery.critical:not(.charging) {
    background-color: #c82828;
    color: #ffffff;
    animation: blink 0.5s steps(12) infinite alternate;
}

#temperature.critical {
    background-color: #c82828;
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #5f5f5f;
    }
}

